# Simple BOW with RandomForest

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
all_df=pd.read_csv(r'D:\Github\NLP_Duplicate_questions\quora-question-pairs\train.csv\train.csv')
all_df

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
...,...,...,...,...,...,...
404285,404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,404287,537928,537929,What is one coin?,What's this coin?,0
404288,404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

In [22]:
df=all_df.sample(50000)

In [23]:
df.shape

(50000, 6)

In [24]:
df.isna().sum()

id              0
qid1            0
qid2            0
question1       0
question2       1
is_duplicate    0
dtype: int64

In [25]:
df=df.dropna()
df.isna().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [26]:
ques_df=df[['question1','question2']]
ques_df

,question1,question2
312844,What is the embarrassing of your life?,What is most embrassing moment of your life?
236065,What is best earphone under 500rs (in ear) wit...,What are the best earphones under 800 with mic...
367692,How much does a good quality 720p video file t...,How do I reduce the video files to a very smal...
404060,What is the love story of MS Dhoni?,How much do Indians love MS Dhoni?
94161,I'm going to meet a girl for the first time & ...,I'm going to meet a girl for the first time & ...
...,...,...
77886,How can I regret?,How do I get over regrets?
254477,What are the benefits of 8GB RAM over 4GB RAM?,"Which laptop is better, one with 1.8ghz and 8G..."
280633,What are the advantages and disadvantages of B...,Is Redis a faster queue driver compared to the...
377326,How can I get money for free?,How do I get money for free?
9219,I'm a girl. Why is it that my dog keeps on com...,My cat loves nursing on my nipple (I'm a male)...

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
all_ques=list(ques_df['question1']) + list(ques_df['question2'])
len(all_ques)

99998

In [29]:
cv=CountVectorizer(max_features=3000)
q1,q2=np.vsplit(cv.fit_transform(all_ques).toarray(),2)

In [30]:
tdf1=pd.DataFrame(q1,index=ques_df.index)
tdf2=pd.DataFrame(q2,index=ques_df.index)
tdf2.shape

(49999, 3000)

In [31]:
temp_df=pd.concat([tdf1,tdf2],axis=1)
temp_df.shape

(49999, 6000)

In [32]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
312844,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
236065,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
367692,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
404060,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94161,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
temp_df['is_duplicate']=df['is_duplicate']

In [34]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
312844,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
236065,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
367692,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
404060,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94161,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77886,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254477,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
280633,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
377326,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9219,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
temp_df.to_csv('BOW_Data.csv')

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=69)

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()

In [18]:
rf.fit(X_train,y_train)

RandomForestClassifier()

In [19]:
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7556